<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeLeaf.org">
	<head>
		<title>Spring Boot Thymeleaf Hello World Example</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
		<link rel="stylesheet" type="text/css" media="all" href="../static/styles.css" th:href="@{/styles.css}"/>
	</head>
	<body>
		<form>
			<button formaction="/user" th:text="#{home}"></button>	
		</form>
		<h1 th:text="#{PhilliesFlowers}">Phillie's Flowers</h1>
		<h2 th:text="#{availablePackages}"></h2>
		<p th:text="#{valentinesDay}"></p>
		<p th:text="#{birthdays}"></p>
		<p th:text="#{anniversaries}"></p>
		<p th:text="#{specialOccasions}"></p>
		<p th:text="#{addonItems}"></p>
		
		
		<h1 th:text="#{packagesAndAddon}"></h1>
		<table>
			<tr>
				<th th:text="#{id}"></th>
				<th th:text="#{name}"></th>
				<th th:text="#{price}"></th>
			</tr>
			<tr th:each="package : ${package}">
				<td th:text="${package.id}">ID</td>
				<td th:text="${package.name}">NAME</td>
				<td th:text="${package.price}">AGE</td>
			</tr>
		</table>
		
		<h2 th:text="#{birthdays}"></h2>
		<h2 th:text="#{anniversaries}"></h2>
		<h2 th:text="#{specialOccasions}"></h2>
		<h2 th:text="#{addonItems}"></h2>
		
		<h1 th:text="#{individualItems}"></h1>
		<table>
			<tr>
				<th th:text="#{id}">ID</th>
				<th th:text="#{name}">Name</th>
				<th th:text="#{colour}">Colour</th>
				<th th:text="#{quantity}">Quantity</th>
				<th>Cost</th>
			</tr>
			<tr th:each="flower : ${flower}">
				<td th:text="${flower.id}">ID</td>
				<td th:text="${flower.name}">NAME</td>
				<td th:text="${flower.colour}">COLOUR</td>
				<td th:text="${flower.quantity}">QUANTITY</td>
				<td th:text="${flower.cost}">COST</td>
			</tr>
		</table>
		
		
	</body>
	<footer>
		<span th:text="#{lang.change}"></span>:
		<select id="locales">
		    <option value=""></option>
		    <option value="en" th:text="#{lang.eng}"></option>
		    <option value="fr" th:text="#{lang.fr}"></option>
		</select>
		<span sec:authorize="isAuthenticated()">
                Logged In As: <span sec:authentication="name"></span> |
         	<a th:href="@{/logout}">Sign Out</a>
        </span>
	</footer>
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js">
	</script>
	<script type="text/javascript">
	$(document).ready(function() {
	    $("#locales").change(function () {
	        var selectedOption = $('#locales').val();
	        if (selectedOption != ''){
	            window.location.replace('user?lang=' + selectedOption);
	        }
	    });
	});
	</script>
</html>