<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeLeaf.org">
	<head>
		<title>Spring Boot Thymeleaf Hello World Example</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
		<link rel="stylesheet" type="text/css" media="all" href="../static/styles.css" th:href="@{/styles.css}"/>
	</head>
	<body>
		<form>
			<button formaction="/user" th:text="#{home}"></button>	
			<button formaction="/usingParameter">Parameter</button>
<!-- 			<button formaction="/usingParameter?name=Brian">Parameter name: Brian</button> -->
			<button formaction="/displayAll">Display All</button>
			<button formaction="/displayOne/1">Display ID 1</button>
			<button formaction="/displayOne/2">Display ID 2</button>
			<button formaction="/displayOne/3">Display ID 3</button>
		</form>
		<h1 th:text="#{PhilliesFlowers}">Phillie's Flowers</h1>
		<h2 th:text="#{availablePackages}"></h2>
		<form>
			<button formaction="/valentinesDay" th:text="#{valentinesDay}"></button>
			<button formaction="/birthday" th:text="#{birthdays}"></button>
			<button formaction="/anniversaries" th:text="#{anniversaries}">Anniversaries</button>
			<Button formaction="/otherOccasions" th:text="#{specialOccasions}">Other Special Occasions</Button>
		</form>
		<form>
			<button formaction="/addonItems" th:text="#{addonItems}">Add-on Items</button>
		</form>
		<p>Pre-Specified Special Packages, Custom Gifts</p>
	 	<p>Add on items, like Teddy Bears and Chocolate</p>
	 	<p>Order custom gifts(Choses their make-up of a bouqet, selects chocolates, toys, etc), or pre-set packages that can be ordered as a single-item</p>
		<span th:text="#{lang.change}"></span>:
		<select id="locales">
		    <option value=""></option>
		    <option value="en" th:text="#{lang.eng}"></option>
		    <option value="fr" th:text="#{lang.fr}"></option>
		</select>
	</body>
	<footer>
		<span sec:authorize="isAuthenticated()">
                Logged In As: <span sec:authentication="name"></span> |
         	<a th:href="@{/logout}">Sign Out</a>
        </span>
	</footer>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js">
	</script>
	<script type="text/javascript">
	$(document).ready(function() {
	    $("#locales").change(function () {
	        var selectedOption = $('#locales').val();
	        if (selectedOption != ''){
	            window.location.replace('user?lang=' + selectedOption);
	        }
	    });
	});
	</script>
</html>