<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/header :: header-css"/>
</head>
<body>

<div th:replace="fragments/header :: header"/>

<div class="container">

    <div class="starter-template">
        <h1>Assignment Information</h1>
        <p>Firstly, this page shows how a page would be used for a user with no sign in details.
        The Administrator login information is listed below, and also found in "com.example.demo.config.SpringSecurityConfig.java".</p>
        <table>
        	<tr>
        		<th>Role</th>
        		<th>Login Name</th>
        		<th>Login Password</th>
        	</tr>
        	<tr>
        		<th>Normal User</th>
        		<th>user</th>
        		<th>Password</th>
        	</tr>
        	<tr>
        		<th>Admin User</th>
        		<th>admin</th>
        		<th>Password</th>
        	</tr>
        </table>
        <p>This web app assumes that the user's payment options, delivery address, etc, are already attached to the account upon creation.</p>
    </div>

</div>
<!-- /.container -->

<div th:replace="fragments/footer :: footer"/>

</body>
</html>