button {
    background-color: #00ffff;
    font-size: 25px;
    border-radius: 10px;
    display: inline-block;
    padding: 15px 32px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

button:hover {
	background-color: white;
	color: grey;
}

body {
    background-color: lightblue;
}

h1, h2 {
	margin: 30px;
}

table, th, td {
	border: 1px solid black;
}

th, td{
	padding: 10px;
}

th {
	text-align: center;
}
